In [1]:
%load_ext autoreload
%autoreload 2

from utils.connectors.sql_connector import SqlConnector
from utils.connectors.polygon_connector import PolygonConnector
from utils.connectors.reddit_connector import RedditPsawConnector
import os 
import pandas as pd
import json
import yfinance as yf
API_KEY = 'uAbu9bSmDF6XkqOuBawYuvdBspoueBys'

In [47]:
connector = SqlConnector('model_data')

In [16]:
polygon = PolygonConnector(API_KEY)

In [17]:
data = polygon.get_one_day_data('ATVI', '2021-11-02')

https://api.polygon.io/v1/open-close/ATVI/2021-11-02?adjusted=true&apiKey=uAbu9bSmDF6XkqOuBawYuvdBspoueBys

In [64]:
connector.cursor.execute("""CREATE TABLE companies (
    company_id serial PRIMARY KEY, 
    company_name VARCHAR(50),
    company_tickers VARCHAR(50)
);""")

In [34]:
id SERIAL PRIMARY KEY, 
ticker VARCHAR(6), 
open NUMERIC(7, 4)
high NUMERIC(7, 4)
low NUMERIC(7, 4)
close NUMERIC(7, 4)
volume NUMERIC(12, 1)
afterHours NUMERIC(7, 4)
preMarket NUMERIC(7, 4)

SyntaxError: invalid syntax (Temp/ipykernel_27292/4065386783.py, line 1)

In [36]:
CREATE TABLE companies (
    company_id serial PRIMARY KEY, 
    company_name VARCHAT(50),
    company_tickers,
);

SyntaxError: invalid syntax (Temp/ipykernel_27292/2930515671.py, line 1)

In [ ]:
INSERT INTO companies(company_name, company_tickers)
VALUES ()

In [38]:
with open('data/stocksTickers.json') as file:
    data = json.loads(file.read())

In [74]:
connector = SqlConnector('model_data')

In [56]:
query_part = ''
for ticker, company in data.items():
    query = f"""
    INSERT INTO companies(company_name, company_tickers)
    VALUES ({ticker}, {company});
    """
    print(query)
    connector.cursor.execute(query)

    INSERT INTO companies(company_name, company_tickers)
    VALUES (ATVI, BLIZZARD);

UndefinedTable: relation "companies" does not exist
LINE 2:     INSERT INTO companies(company_name, company_tickers)
                        ^

In [75]:
connector.cursor.execute("""
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name;
""")

In [76]:
connector.cursor.fetchall()

[]

In [70]:
connector.cursor.execute("SELECT * FROM companies")
connector.cursor.fetchall()

[]

In [73]:
connector.cursor.execute("INSERT INTO companies(company_name, company_tickers) VALUES (ATVI, BLIZZARD);")

UndefinedColumn: column "atvi" does not exist
LINE 1: ... companies(company_name, company_tickers) VALUES (ATVI, BLIZ...
                                                             ^

In [2]:
reddit = RedditApiConnector()
df = reddit.search_comments('Ubisoft')

c:\UW\GAN-market-prediction\venv\lib\site-packages\psaw\PushshiftAPI.py:252: UserWarning: Not all PushShift shards are active. Query results may be incomplete
  warnings.warn(shards_down_message)

In [3]:
df

                  author  ...       created
0          politecreeper  ...  1.636798e+09
1    f-ingsteveglansberg  ...  1.636797e+09
2              TrickBox_  ...  1.636796e+09
3         JKCodeComplete  ...  1.636789e+09
4         randloadable19  ...  1.636788e+09
..                   ...  ...           ...
995        mr_fucknoodle  ...  1.634043e+09
996            Mr_WeeWoo  ...  1.634031e+09
997                roneg  ...  1.634021e+09
998             x33storm  ...  1.634014e+09
999       TroubledPCNoob  ...  1.634004e+09

[1000 rows x 5 columns]

In [2]:
msft = yf.Ticker("ATVI")

In [11]:
data = msft.history(period='10y')

In [12]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2011-11-21,10.893195,10.975789,10.810601,10.902372,13803700,0.0,0
2011-11-22,10.893195,11.021674,10.645414,10.920726,18589200,0.0,0
2011-11-23,10.856487,11.012498,10.783071,10.783071,12543100,0.0,0
2011-11-25,10.728008,11.040029,10.728008,10.783071,5187800,0.0,0
2011-11-28,11.040027,11.177684,10.939080,11.159329,14166600,0.0,0
...,...,...,...,...,...,...,...
2021-11-15,69.320000,70.680000,68.139999,70.430000,11628200,0.0,0
2021-11-16,70.550003,72.139999,65.459999,66.139999,38243200,0.0,0
2021-11-17,65.529999,65.639999,63.500000,64.199997,28771200,0.0,0
2021-11-18,63.599998,64.050003,60.900002,62.669998,24241700,0.0,0
2021-11-19,63.750000,64.089996,62.169998,62.380001,14485100,0.0,0

In [29]:
import pandas as pd
from psaw import PushshiftAPI
import praw 
import datetime 

class RedditPsawConnector:

    def __init__(self, subreddit='Games'): 
        self.subreddit = subreddit
        self.api = PushshiftAPI()

    def search_comments(self, query, after, before, limit=1000):
        # returned columns 
        filter = ['author', 'date', 'title', 'body', 'score']

        #cConnect to api, and get data
        comments = self.api.search_comments(
            subreddit = self.subreddit,
            filter=filter, q=query, limit=limit, 
            after=after, before=before
        )
        # Prepare dataframe
        return pd.DataFrame([comment.d_ for comment in comments])

In [43]:
reddit = RedditPsawConnector()
before = int(datetime.datetime(2021, 9, 2).timestamp())
after = int(datetime.datetime(2019, 9, 1).timestamp())
query = 'GTA'
data = reddit.search_comments(query, after=after, before=before, limit=1000000000)

c:\UW\GAN-market-prediction\venv\lib\site-packages\psaw\PushshiftAPI.py:252: UserWarning: Not all PushShift shards are active. Query results may be incomplete
  warnings.warn(shards_down_message)
c:\UW\GAN-market-prediction\venv\lib\site-packages\psaw\PushshiftAPI.py:192: UserWarning: Got non 200 code 429
  warnings.warn("Got non 200 code %s" % response.status_code)
c:\UW\GAN-market-prediction\venv\lib\site-packages\psaw\PushshiftAPI.py:180: UserWarning: Unable to connect to pushshift.io. Retrying after backoff.
  warnings.warn("Unable to connect to pushshift.io. Retrying after backoff.")

In [44]:
data

,author,body,created_utc,score,created
0,riderforlyfe,It was but it would never compete with the kin...,1630530587,10,1.630527e+09
1,andresfgp13,"i mean, game of thrones did well their entire ...",1630528408,6,1.630525e+09
2,enderandrew42,SWTOR had something like 7-8 years of developm...,1630528164,-1,1.630525e+09
3,enderandrew42,&gt; By bankrolling this never-ending feature ...,1630526713,1,1.630523e+09
4,spiderpuzzle,"I beat Cyberpunk, I think, two weeks after lau...",1630524339,61,1.630521e+09
...,...,...,...,...,...
18716,HearTheEkko,I actually think the opposite. Loved the gamep...,1567291268,1,1.567288e+09
18717,RedRoseRing,I didn't like the campaign for either rdr1 or ...,1567290393,1,1.567287e+09
18718,Ghidoran,Sounds to me like you just described GTA V. Th...,1567290236,1,1.567287e+09
18719,Mista_Wong,"Yeah, I never finished the first game but I re...",1567289777,1,1.567286e+09
18720,Shosray,"No proof, but this guy has a reputation for le...",1567289024,1,1.567285e+09