In [4]:
%load_ext autoreload
%autoreload 2

from utils.connectors.sql_connector import SqlConnector
from utils.connectors.polygon_connector import PolygonConnector
from utils.connectors.reddit_connector import RedditPsawConnector
import os 
import pandas as pd
import json

API_KEY = 'uAbu9bSmDF6XkqOuBawYuvdBspoueBys'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [47]:
connector = SqlConnector('model_data')

In [16]:
polygon = PolygonConnector(API_KEY)

In [17]:
data = polygon.get_one_day_data('ATVI', '2021-11-02')

https://api.polygon.io/v1/open-close/ATVI/2021-11-02?adjusted=true&apiKey=uAbu9bSmDF6XkqOuBawYuvdBspoueBys

In [64]:
connector.cursor.execute("""CREATE TABLE companies (
    company_id serial PRIMARY KEY, 
    company_name VARCHAR(50),
    company_tickers VARCHAR(50)
);""")

In [34]:
id SERIAL PRIMARY KEY, 
ticker VARCHAR(6), 
open NUMERIC(7, 4)
high NUMERIC(7, 4)
low NUMERIC(7, 4)
close NUMERIC(7, 4)
volume NUMERIC(12, 1)
afterHours NUMERIC(7, 4)
preMarket NUMERIC(7, 4)

SyntaxError: invalid syntax (Temp/ipykernel_27292/4065386783.py, line 1)

In [36]:
CREATE TABLE companies (
    company_id serial PRIMARY KEY, 
    company_name VARCHAT(50),
    company_tickers,
);

SyntaxError: invalid syntax (Temp/ipykernel_27292/2930515671.py, line 1)

In [ ]:
INSERT INTO companies(company_name, company_tickers)
VALUES ()

In [38]:
with open('data/stocksTickers.json') as file:
    data = json.loads(file.read())

In [74]:
connector = SqlConnector('model_data')

In [56]:
query_part = ''
for ticker, company in data.items():
    query = f"""
    INSERT INTO companies(company_name, company_tickers)
    VALUES ({ticker}, {company});
    """
    print(query)
    connector.cursor.execute(query)

    INSERT INTO companies(company_name, company_tickers)
    VALUES (ATVI, BLIZZARD);

UndefinedTable: relation "companies" does not exist
LINE 2:     INSERT INTO companies(company_name, company_tickers)
                        ^

In [75]:
connector.cursor.execute("""
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name;
""")

In [76]:
connector.cursor.fetchall()

[]

In [70]:
connector.cursor.execute("SELECT * FROM companies")
connector.cursor.fetchall()

[]

In [73]:
connector.cursor.execute("INSERT INTO companies(company_name, company_tickers) VALUES (ATVI, BLIZZARD);")

UndefinedColumn: column "atvi" does not exist
LINE 1: ... companies(company_name, company_tickers) VALUES (ATVI, BLIZ...
                                                             ^

In [2]:
reddit = RedditApiConnector()
df = reddit.search_comments('Ubisoft')

c:\UW\GAN-market-prediction\venv\lib\site-packages\psaw\PushshiftAPI.py:252: UserWarning: Not all PushShift shards are active. Query results may be incomplete
  warnings.warn(shards_down_message)

In [3]:
df

                  author  ...       created
0          politecreeper  ...  1.636798e+09
1    f-ingsteveglansberg  ...  1.636797e+09
2              TrickBox_  ...  1.636796e+09
3         JKCodeComplete  ...  1.636789e+09
4         randloadable19  ...  1.636788e+09
..                   ...  ...           ...
995        mr_fucknoodle  ...  1.634043e+09
996            Mr_WeeWoo  ...  1.634031e+09
997                roneg  ...  1.634021e+09
998             x33storm  ...  1.634014e+09
999       TroubledPCNoob  ...  1.634004e+09

[1000 rows x 5 columns]